/* .form{
    &__group:not(:last-child){
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }
} */

.cas-data-table-header,.p-paginator-bottom{
    background-color: $color-table-header !important;
    color: $color-white !important;
}
.cas-data-table-header > span {
    color: $color-white !important;
}
.p-paginator-element >span {
    color: $color-white !important;
}

.flights-view-container{
    
    .flight-number-column-header{
        width: 12rem;
    }
    .action-column-header{
        width:7rem;
    }
    .airport-column-header{
        width: 10rem;
    }
    
}
.forms-message{
    width: 100%;
}

.flights-create-container {
    .input-fields-container{
        padding-right: 4rem;
        .form-field-label{
            padding-left: 4rem;
            padding-top: 1rem;
        }
    
    }
    .form-field-button{
        border-top: 1px solid #d5d5d5;
        padding-right: 4rem;
        margin-top: 1rem;
        padding-top: 1rem;

    }
    
}
