/* .form{
    &__group:not(:last-child){
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }
} */

.cas-data-table-header:not(td),.p-paginator-bottom{
    background-color: $color-table-header !important;
    color: $color-white !important;
}
.cas-data-table-header > span {
    color: $color-white !important;
}
.p-paginator-element >span {
    color: $color-white !important;
}

.flights-view-container{
    
    .flight-number-column-header{
        width: 12rem;
    }
    .action-column-header{
        width:7rem;
    }
    .airport-column-header{
        width: 10rem;
    }
    
}

.cancelation-results-container{
    .flight-type-header {
        width: 7rem;
    }
    .time-header{
        width: 8.5rem;
    }
    .status-header{
        width: 8rem;
    }
    .action-header{
        width: 6.5rem;
    }
    .flight-number-header{
        width: 9rem;
    }
    .date-header{
        width: 7rem;
    }
    .airport-header{
        width: 9.5rem;
    }
    .action-column{
        padding-top: 0.3rem;
        margin-bottom: -0.2rem;
    }
}
.forms-message{
    width: 100%;
}

.form-container {
    .input-fields-container{
        padding-right: 4rem;
        .form-field-label{
            padding-left: 4rem;
            padding-top: 1rem;
        }
    
    }

    .form-field-button{
        border-top: 1px solid #d5d5d5;
        padding-right: 4rem;
        margin-top: 0.5rem;

    }
    .status-badge{
        padding: 0.1rem 0.5rem;
        border-radius: 1rem;
        font-weight: bold;

        &.pending-badge{
            background-color: #ffd8b2;
            color: #805b36;
        }
        &.approved-badge{
            background-color: #c8e6c9;
            color: #256029;
        }
    
        &.rejected-badge{
            background-color: #ffcdd2;
            color: #c63737;
        }
    }
    
    
}



