.login-screen {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/images/CAS-Background.jpg");
  background-size: cover;

  .p-card {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 3rem 2rem;
    min-width: 40rem;
    background-color: $color-white;
    &-header {
      position: relative;
      img {
        display: block;
        height: auto;
        width: 50%;
        margin: 0 auto;
      }
      padding-bottom: 1rem;
    }

    &-footer {
      margin-top: 1rem;
      .p-button {
        margin: 0 auto;
        width: 60%;
        padding: 0.5rem;
        font-size: 1.4rem;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        &-icon-left {
          font-size: 1.4rem;
        }
      }
    }
  }
}
